<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7f6473">  <td>17/09/29 15:09:03</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest.CloseDriver()[pri:0, instance:TestCases.NewTest@4e268090]">&lt;&lt;CloseDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1710265848</td>   <td></td> </tr>
<tr bgcolor="7f6473">  <td>17/09/29 15:09:01</td>   <td>-2685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.Test()[pri:0, instance:TestCases.NewTest@4e268090]">Test</td> 
  <td>main@1710265848</td>   <td></td> </tr>
<tr bgcolor="7f6473">  <td>17/09/29 15:09:03</td>   <td>-85</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.Test1()[pri:0, instance:TestCases.NewTest@4e268090]">Test1</td> 
  <td>main@1710265848</td>   <td></td> </tr>
<tr bgcolor="7f6473">  <td>17/09/29 15:08:57</td>   <td>-6709</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.init()[pri:0, instance:TestCases.NewTest@4e268090]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1710265848</td>   <td></td> </tr>
</table>
